.installed.cfg
.mr.developer.cfg
develop-eggs/
include/
lib/
parts/
src/
tmp/
build-stamp
debian/
debian.ini
var/
upgrade.log
bin/activate
bin/activate.csh
bin/activate.fish
bin/activate_this.py
bin/buildout
bin/develop
bin/easy_install
bin/easy_install-2.7
bin/instance
bin/ipdb
bin/pip
bin/pip-2.7
bin/python
bin/python2
bin/python2.7
